body {
    background: #fafafa;
}

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

body .no-padding {
    padding: 0;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

    .status-upload form {
        float: left;
        width: 100%;
    }

        .status-upload form textarea {
            background: none repeat scroll 0 0 #fff;
            border: medium none;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -ms-border-radius: 4px 4px 0 0;
            -o-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            color: #777777;
            float: left;
            font-family: Lato;
            font-size: 14px;
            height: 142px;
            letter-spacing: 0.3px;
            padding: 20px;
            width: 100%;
            outline: none;
            border: 1px solid #F2F2F2;
            resize: none;
        }

    .status-upload ul {
        float: right;
        list-style: none outside none;
        margin: 0;
        padding: 0 0 0 15px;
        width: auto;
    }

        .status-upload ul > li {
            float: left;
        }

            .status-upload ul > li > a {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px;
                color: #777777;
                float: right;
                font-size: 14px;
                height: 30px;
                line-height: 30px;
                margin: 0 10px;
                text-align: center;
                -webkit-transition: all 0.4s ease 0s;
                -moz-transition: all 0.4s ease 0s;
                -ms-transition: all 0.4s ease 0s;
                -o-transition: all 0.4s ease 0s;
                transition: all 0.4s ease 0s;
                cursor: pointer;
            }

                .status-upload ul > li > a:hover {
                    background: none repeat scroll 0 0 #606060;
                    color: #fff;
                }

                .status-upload ul > li > a > div {
                    display: inline-block;
                }

    .status-upload form button {
        border: medium none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        float: right;
        font-family: Lato;
        font-size: 14px;
        letter-spacing: 0.3px;
        margin-right: 9px;
        margin-top: 9px;
        padding: 6px 15px;
        background-color: grey;
    }

.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}

.status-upload form button > i {
    margin-right: 7px;
}

.gedf-card.comment-tools {
    margin-bottom: 10px;
}

.comment-model .modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .comment-model .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.comment-model .modal-dialog {
    width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-body .panel-body span, button {
    float: right;
}

.ui-widget combobox {
    position: relative;
    display: inline-block;
}

.ui-widget combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.ui-widget combobox-input {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.counted:not(:focus) {
    font-style: italic;
}
