
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-0">
    Adı - Name
    <span class="text-primary"> Soyadı - Surname</span>
</h1>
<div class="subheading mb-5">
    Kullanıcı Adı - UserName
    <a href="mailto:name@email.com">name@email.com</a>
</div>
<p class="lead mb-5">Kendisi hakkında yazmak istediği bir takım içerik</p>
