@using FurBuuks.Models
@model List<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper home-page">
    <section class="left-menu" style="width:19%; height:100px;">
        <ul>
            <li>1.link</li>
            <li>2.link</li>
        </ul>
    </section>
    <section class="main-context">
        <div class="main-comment">
            <p class="comment-user"><b>Buraya kullanıcı adı gelecek</b></p>
            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat quam enim, sit amet suscipit orci ullamcorper sit amet. Donec molestie posuere eros, in convallis ipsum elementum dapibus. Cras fermentum tortor sed nisi ullamcorper ultricies in amet.</p> <!--Kullanıcı yorumu buraya gelecek-->
            <span class="comment-time">1 saat önce</span>
        </div>
        <p> @(((User)Session["User"]).Bio);</p>
        <div class="main-comment">
            <p class="comment-user"><b>Buraya kullanıcı adı gelecek</b></p>
            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat quam enim, sit amet suscipit orci ullamcorper sit amet. Donec molestie posuere eros, in convallis ipsum elementum dapibus. Cras fermentum tortor sed nisi ullamcorper ultricies in amet.</p> <!--Kullanıcı yorumu buraya gelecek-->
            <span class="comment-time">6 Şubat 2019</span>
        </div>
    </section>
    <section class="left-menu" style="width:19%; height:100px; background:gray; display:inline-block;"></section>
</section>

