
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="left-menu" style="width:20%; height:100px; background:gray; display:inline-block;"></div>
    <div class="main-context" style="width:50%; height:100px;  background:gray; display:inline-block;"></div>
    <div class="left-menu" style="width:20%; height:100px; background:gray; display:inline-block;"></div>

</div>

