
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="d-block d-lg-none">Kullanıcı Adı</span>
<span class="d-none d-lg-block">
    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/img/indir.png" alt="">
    @*image src=Modelden çekmeliyiz*@
</span>

