
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Content -->
<div class="container">
    <div class="row">
       <div class="col-3">
           <img src="~/Content/img/about-bg.jpg" height="200" width="200"/>
       </div>
        <div class="col-9">
            <h3>AD SOYAD</h3>
            <p>Lorem ıpsum dolar sit amet.</p>
        </div>
    </div>
</div>



